.media.active{
    background-color: white!important;
}
/**
Tool adaptations from theme
 */
.icon-btn {
    min-width: 40px!important;
    margin: 0 0 0 0;
}
.ribbon.ribbon-right.ribbon-clip.ribbon-shadow.ribbon-round.ribbon-color-info.uppercase{
    margin-top: 0!important;
}
div.panel.panel-default{
    margin-bottom: 5px!important;
}
div.ribbon-content, div.panel-body{
    padding: 5px!important;
}
